@model SliderVMVC

<div style=" margin-top: 140px;" class="hero-slider section fix">
    @{
        int count = 0;
    }
    @foreach (var slider in Model.Sliders)
    {
        var info = Model.SliderInfos.ElementAt(count);
        <div class="hero-item" style=" background-image: url('./img/@slider.Img') ">
            <div class="hero-content text-center m-auto">
                <h2>@info.Discount</h2>
                <h1>@info.Title</h1>
                <p>@info.Description</p>
                <a href="#"> LEARN MORE</a>
            </div>
        </div>
        count++;
    }
</div>