@model BlogEditVM

<div class="container">
    <h2>Edit Blog</h2>

    <form asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <div class="form-group mb-2">
            <!-- Mb-2 (margin-bottom: 0.5rem) -->
            <label style="color:white">Title</label>
            <textarea rows="2" asp-for="Title" class="form-control" placeholder="Title..."></textarea>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <!-- Mb-2 (margin-bottom: 0.5rem) -->
            <label style="color:white">Description</label>
            <textarea rows="4" asp-for="Description" class="form-control" placeholder="Description..."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <!-- Mb-2 (margin-bottom: 0.5rem) -->
            <label>Current Images</label>
            <div class="d-flex flex-wrap">
                @foreach (var img in Model.ExistingImages)
                {
                    <div class="me-2 mb-2">
                        <img src="@img.Img" width="100" class="img-thumbnail" />
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MainImageId" value="@img.Id"
                            @(img.IsMain ? "checked" : "") />
                            <label class="form-check-label">Main</label>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group mb-2">

            <label style="color:white">New Image</label>
            <input type="file" class="form-control" name="Images" multiple />
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

<style>
    .form-group {
        margin-bottom: 0.5rem; 
    }

    .form-control {
        margin-bottom: 0.5rem; 
    }

    .form-check {
        margin-top: 0.5rem;
    }
</style>
