@model IEnumerable<AboutVM>
<div class="about-section section pt-120 pb-90">
    <div class="container">
        <div class="row flex-row-reverse">

            <div class="about-image col-lg-6 col-12 mb-30">
               @foreach (var item in Model)
                {
                    <a class="video-popup" href="https://www.youtube.com/watch?v=7e90gBu4pas"><img src="@item.Img" alt=""></a>
                }
            </div>

          
            <div class="about-content col-lg-6 col-12 mb-30">
                @foreach (var item in Model)
                {
                   
                    <h2>@Html.Raw(item.Title)</h2>
                    <p>@item.Description</p>
                }

                <a href="#" class="button">Shop Now</a>
            </div>
        </div>
    </div>
</div>