@model RegisterVM
<link rel="stylesheet" href="~/css/Login.css">
<section class="signup">
    <div class="container-login" style="margin-top:17pc;">
        <div class="signup-content">         
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form class="form" method="post" asp-controller="Account" asp-action="Register">
                    <div class="form-group">
                        <input asp-for="FullName" id="fullName" placeholder="Your Name" />
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div> 
                    <div class="form-group">
                        <input asp-for="UserName"  id="userName" placeholder="Your User Name" />
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" id="email" placeholder="Your Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group" style="position: relative;">
                        <input asp-for="Password" type="password" placeholder="Password" id="passwordInput" style="padding-right: 40px;" />
                        <span class="text-danger" asp-validation-for="Password"></span>

                        <span onclick="togglePassword()" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword"  id="re_pass" placeholder="Repeat your password" />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="form-group form-button">
                        <button type="submit" name="signup" id="signup" class="form-submit" >Register</button>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="~/img/signup-image.jpg" alt="sing up image"></figure>
            </div>
        </div>
    </div>
</section>
<script src="https://kit.fontawesome.com/897e067933.js" crossorigin="anonymous"></script>
<script src="~/js/JavaScript.js"></script>