@using Asp.net_mini_project.ViewModels.Admin.Brand
@model IEnumerable<BrandVM>

<div class="client-section section pb-90">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="client-slider text-center">
                    @foreach (var item in Model)
                    {
                        <!-- Single Client -->
                        <div class="single-client"><img src="/img/@item.Img" alt="client"></div>
                    }
                   
                    

                </div>

            </div>
        </div>
    </div>
</div><