@model AdvertisementEditVM

<div class="container">
    <h2>Edit Advertisement</h2>

    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required />
        </div>

        <div class="form-group">
            <label for="Img">Current Image</label>
            <img src="~/img/@Model.Img" alt="Current Advertisement Image" width="100" height="auto" />
        </div>

        <div class="form-group">
            <label for="Photo">New Image</label>
            <input type="file" class="form-control" id="Photo" name="Photo" />
        </div>

        <form asp-action="Edit" method="post" enctype="multipart/form-data">
          
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </form>
</div>
